<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" href="../images/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="../styles/main.css">
		<title>Logans ruin blog</title>
	</head>
	<body>

		<header class="full-container" id="title">
			<h1>Logans ruin</h1>
			<p>an occasional blog</p>
		</header>
			<div class="full-container" id="nav">
				<nav class="container">
					<ul>
						<li>
							<a href="../index.html">latest</a>
						</li>
						<li>|</li>
						<li>
							<a href="bio-jared-tasker.html">about me</a>
						</li>
						<li>|</li>
						<li>
							<a href="../archive.html">archive</a>
						</li>
					</ul>
				</nav>
			</div>
		<div class="full-container" id="main-body">
			<div class="container">
				<h2 class="section-heading"></h2>
			</div>
			<article>
				
			</article>
		</div>
		<div class="full-container" id="footer">
			<footer class="container">
				<p>Logans ruin aka Jared Tasker | © 2019</p>
			</footer>
		</div>
	</body>
</html>