/*Section specific*/
	.blog-section{
		padding-top: 2rem;
		padding-bottom: 1rem;
		border-bottom: 2px solid #e7efda;
	}

	.card{
		border-top: 2px solid var(--primary-blue);
		border-bottom: 2px solid var(--primary-blue);
		padding: 0.3rem;
	}

	.example{
		background-color: var(--white-green);
		padding: 0.2rem;
	}

	.codepen{
		margin-top: 1rem;
		margin-bottom: 2rem;
	}

/*Content specific*/
	#brown-fox{
		color: brown;
	