/*Section specific*/
	.blog-section{
		padding-top: 2rem;
		padding-bottom: 1rem;
		border-bottom: 2px solid #e7efda;
	}

/*Content specific*/
	#inline-vs-block{
		margin: 1rem 0;
		padding: 1rem;
		background-color: #e7efda;
	}

	#brown-fox{
		color: brown;
	