* {
	box-sizing: border-box;
}

/*Grid layout*/

	.container {
		max-width: 1140px;
		margin: 0 auto;
		clear: both;
	}

	.row {
		clear: left;
		padding: 10px 0;
		overflow: auto;
	}
	
	.column{
		margin: 0 0.877192982%;
		float: left;
	}

	.span1 {
		width: 6.578947368%;
		margin: 0 0.877192982%;
		float: left;
	}

	.span2 {
		width: 14.912280702%;
		margin: 0 0.877192982%;
		float: left;
	}

	.span3 {
		width: 23.245614035%;
		margin: 0 0.877192982%;
		float: left;
	}

	.span4 {
		width: 31.578947368%;
		margin: 0 0.877192982%;
		float: left;
	}

	.span5 {
		width: 39.912280702%;
		margin: 0 0.877192982%;
		float: left;
	}

	.span6 {
		width: 48.245614035%;
		margin: 0 0.877192982%;
		float: left;
	}

	.span7 {
		width: 56.578947368%;
		margin: 0 0.877192982%;
		float: left;
	}

	.span8 {
		width: 64.912280702%;
		margin: 0 0.877192982%;
		float: left;
	}

	.span9 {
		width: 73.245614035%;
		margin: 0 0.877192982%;
		float: left;
	}

	.span10 {
		width: 81.578947368%;
		margin: 0 0.877192982%;
		float: left;
	}

	.span11 {
		width: 89.912280702%;
		margin: 0 0.877192982%;;
		float: left;
	}

	.span12 {
		width: 98.245614035%;
		margin: 0 0.877192982%;
		float: left;
	}

/*Universal styles*/

/*Home specific*/

/*Blog Specific*/