@import url('https://fonts.googleapis.com/css?family=Arvo:400,700|Quicksand:300,400');
/*Document setup*/
* {
	box-sizing: border-box;
}

	/*Reset*/
		header,
		hgroup,
		nav,
		section,
		article,
		aside,
		footer {
			display: block;
		}
		body,
		div,
		ul,
		ol,
		li,
		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		form,
		input,
		textarea,
		p,
		th,
		td {
			margin: 0;
			padding: 0;
		}
		table {
			border-collapse: collapse;
			border-spacing: 0;
		}
		img {
			border: 0;
			display: block;
		}
		ul {
			list-style-type: none;
		}
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			font-size: 100%;
			font-weight: normal;
		}
		input,
		textarea,
		select,
		button {
			font-family: inherit;
			font-size: inherit;
			font-weight: inherit;
			line-height: inherit;
		}
		a{
			text-decoration: none;
		}

/*Grid layout*/

	.container {
		max-width: 1140px;
		margin: 0 auto;
		clear: both;
	}

	.full-container {
		max-width: 100%;
		margin: 0 auto;
		clear: both;
	}

	.row {
		clear: left;
		padding: 10px 0;
		overflow: auto;
	}
	
	.column{
		margin: 0 0.877192982%;
		float: left;
	}

	.span1 {
		width: 6.578947368%;
		margin: 0 0.877192982%;
		float: left;
	}

	.span2 {
		width: 14.912280702%;
		margin: 0 0.877192982%;
		float: left;
	}

	.span3 {
		width: 23.245614035%;
		margin: 0 0.877192982%;
		float: left;
	}

	.span4 {
		width: 31.578947368%;
		margin: 0 0.877192982%;
		float: left;
	}

	.span5 {
		width: 39.912280702%;
		margin: 0 0.877192982%;
		float: left;
	}

	.span6 {
		width: 48.245614035%;
		margin: 0 0.877192982%;
		float: left;
	}

	.span7 {
		width: 56.578947368%;
		margin: 0 0.877192982%;
		float: left;
	}

	.span8 {
		width: 64.912280702%;
		margin: 0 0.877192982%;
		float: left;
	}

	.span9 {
		width: 73.245614035%;
		margin: 0 0.877192982%;
		float: left;
	}

	.span10 {
		width: 81.578947368%;
		margin: 0 0.877192982%;
		float: left;
	}

	.span11 {
		width: 89.912280702%;
		margin: 0 0.877192982%;;
		float: left;
	}

	.span12 {
		width: 98.245614035%;
		margin: 0 0.877192982%;
		float: left;
	}

/*Colour variables*/
	:root{
		--primary-blue: #05386B; 
		--sea-water-blue: #379683;
		--primary-green: #5CDb95;
		--secondary-green: #8EE4AF;
		--white-green: #EDF5E1;
	}

/*Universal styles*/

	/*Mobile*/
		@media only screen and (max-width: 480px){
			[class^="span"]{
				width: 98%;
				margin: 1% 1%;
				float: none;
			}
		}

	/*Typeface*/
		html{
			font-size: 16px;
			font-family: 'Quicksand', sans-serif;
			font-weight: 300;
		}

		h1, h2, h3, h4, h5, h6{
			font-family: 'Arvo', serif;
		}

		p{
			color: #222;
		}

		#title{
			font-family: 'Arvo', serif;
			color: var(--white-green);
			text-align: center;
		}

		#title>h1{
			font-weight: 700;
			font-size: 6rem;
		}

		#title>p{
			font-weight:400;
			font-size: 2rem;
			color: var(--sea-water-blue);
		}

		.section-heading{
			font-size: 2.5rem;
			color: var(--sea-water-blue);
		}

/*Home specific*/
	#title{
		background-color: var(--primary-green);
		min-height: 24rem;
	}

	header#title{
		padding-top: 9rem;
	}

	#main-body{
		background-color: var(--white-green);
		padding: 2rem 0;
	}

	#nav{
		background-color: var(--secondary-green);
	}

	nav{
		text-align: right;
		color: var(--sea-water-blue);
	}

	nav a{
		font-size: 1.1rem;
		color: var(--sea-water-blue);
		display: inline-block;
		border-bottom: 2px solid var(--secondary-green);
		padding: 0 10px;
	}

	nav a:hover{
		background-color: var(--primary-green);
		border-bottom: 2px solid var(--white-green);
		color: var(--white-green);
	}


	.blog-listing{
		border-top: 2px solid var(--sea-water-blue);
		padding-bottom: 10px;	
	}

	.blog-listing:hover{
		border-top: 2px solid var(--primary-blue);
		border-bottom: 2px solid var(--primary-blue);
	}

	.blog-listing>h1{
		margin: 1rem 0 0.5rem 0;
		font-size: 2.5rem;
		color: var(--primary-blue);
	}

	.blog-listing>img{
		width: 100%;
	}

	.subtitle{
		font-weight: 400;
		color: var(--sea-water-blue);
	}

	.subtitle-label{
		font-weight: 400;
		color: var(--primary-blue);	
	}

	#footer{
		height: 3rem;
		border-top: 1px solid var(--secondary-green);
		background-color: var(--primary-green);
		text-align: center;
		position: relative;;
	}

	footer p{
		color: var(--white-green);
		font-size: 0.7rem;
		position: absolute;
		bottom: 20%;
		left: 0;
		right: 0;
		margin: auto;
	}

/*Blog Specific*/